<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VviewUserControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <VviewUserControls.Properties.Settings>
            <setting name="VerseFontSize" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="BackgroundImage" serializeAs="String">
                <value>bg6b.jpg</value>
            </setting>
            <setting name="FontColor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurBook" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurChapter" serializeAs="String">
                <value />
            </setting>
            <setting name="CurVerse" serializeAs="String">
                <value />
            </setting>
            <setting name="CurLang" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowLive" serializeAs="String">
                <value>False</value>
            </setting>
        </VviewUserControls.Properties.Settings>
    </userSettings>
</configuration>